body {
 

    height: 100vh;
}


.verzendKnop{
    border-radius: 50px;
    background-color: black;
    color: white;
}

input{
    border-radius: 50px;
}

.Inloggen{
height: 100vh;
margin: 0;
display: flex;
justify-content: center;
font-family: 'Rockwell';
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
