body {
 

    height: 100vh;
}


.verzendKnop{
    border-radius: 50px;
    background-color: black;
    color: white;
}

input{
    border-radius: 50px;
    width: 200px;
}

.Inloggen{
height: 100vh;
margin: 0;
display: flex;
justify-content: center;
font-family: 'Rockwell';
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}






