.vergrootKnop, .verkleinKnop{
    color: black;
    background-color: white;
    border-radius: 20px;
}



  body {
    background-image: url("IMG/achtergrond.jpg");
    color: black;
  }




.banner {
    background-color: #000;
    padding: 1rem; 
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
    font-size: 1vw;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 1rem; 
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem; 
  }
  
  nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #0ae;
  }

  .submitButton{
    border-radius: 50px;
    width: 100px;
  }

