.vergrootKnop, .verkleinKnop{
    color: black;
    background-color: white;
    border-radius: 20px;
}



  body {
    background-image: url("IMG/achtergrond1.jpg");
    color: black;
  }



.banner {
    background-color: #000;
    padding: 1rem; /* Pas de gewenste padding aan */
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Zorg ervoor dat de banner boven andere elementen staat */
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 1rem; /* Pas de gewenste ruimte tussen de menu-items aan */
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem; /* Pas de gewenste padding aan */
    box-sizing: border-box; /* Voeg deze regel toe */
  }
  
  nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #0ae;
  }

