h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 40px; 
    background-image: url("IMG/achtergrond.jpg");
    color: black;
}
